<div class="container">
    <div class="row">
        <div class="col-md-4 my-3 shadow-md gap-3" *ngFor="let product of product.users">
            <div class="card rounded-2">
                <img src="{{product.thumbnail}}" width="100%" height="200" class="overflow-hidden" />
                <h6 class="fs-2 fw-bold brand-name m-2 lh-base overflow-hidden" style="height: 50px">{{product.brand}}</h6>
                <p class="m-2">{{product.category}} ,{{product.discountPercentage}} </p>
                <p class="m-2" style="min-height: 60px">{{product.description}}</p>
                <button mat-raised-button color="primary" (click)="passData(product)" class="m-2">Buy Product</button>
            </div>
        </div>
    </div>
</div>